# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform backup files
*.backup

# Ignore Terraform local cache
.terraform/

# Ignore variable files with secrets
*.tfvars
*.tfvars.json

# Ignore logs
*.log
